[submodule ".vim/ansible-vim"]
	path = .vim/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/kotlin-vim"]
	path = .vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-python-pep8-indent"]
	path = .vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule ".vim/bundle/vim-wakatime"]
	path = .vim/bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ei-grad/oh-my-zsh.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/pony-vim-syntax"]
	path = .vim/bundle/pony-vim-syntax
	url = https://github.com/dleonard0/pony-vim-syntax.git
[submodule ".vim/bundle/pony-currycomb.vim"]
	path = .vim/bundle/pony-currycomb.vim
	url = https://github.com/killerswan/pony-currycomb.vim.git
