[user]
	name = Andrew Grigorev
	email = andrew@ei-grad.ru
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    d = diff
    dc = diff --cached
    lg = log -p --cc
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[gui]
    fontui = -family Calibri -size 11 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family Consolas -size 11 -weight normal -slant roman -underline 0 -overstrike 0
#[svn]
#    authorsfile = /home/ei-grad/users.txt
[push]
	default = simple
[core]
	excludesfile = /home/ei-grad/.global_gitignore
